<footer class="footer">
  <p>Copyright © {{ if eq now.Year 2018 }}2018{{ else }}2009-{{ now.Year }}{{ end }} {{ .Site.Title }}</p>
  <p>Part of <a title="Ytrend Indo" href="https://ytrendindo.blogspot.com/">YTrend Indo</a>, <a href="http://mobilelegends.rf.gd/" title="Mobile Legends">Mobile Legends Guide</a>.</p>
</footer>

{{ partial "adsense-sticky.html" . }}

{{ if .Site.GoogleAnalytics }}
<amp-analytics type=googleanalytics>
  <script type=application/json>
    {
      "vars": { "account": {{ .Site.GoogleAnalytics }} },
      "triggers": { "trackPageview": { "on": "visible", "request": "pageview" } }
    }
  </script>
</amp-analytics>
{{ end }}
