{{ define "main" }}
  <section class="main post-detail">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <p class="entry-meta"><span class="entry-time">{{ .Date.Format "Jan 2, 2006" }}</span> {{ .ReadingTime }} min read</p>
    </header>
    {{ partial "adsense.html" . }}
    <article class="post-content"><!--{{ .Content }}-->
{{ $content := .Content }}

{{ $content := replace $content "localhost:1313"  "mobagenie.my.id" }}

{{ $content := replace $content "mobagenie.id"  "mobagenie.my.id" }}
{{ $content := replace $content "MobaGenie.ID"  "MobaGenie" }}
{{ $content := replace $content "www.mobagenie.id"  "mobagenie.my.id" }}
{{ $content := replace $content "www.mobagenie.my.id"  "mobagenie.my.id" }}

{{ $content := replace $content `<img`  `<amp-img` }}
{{ $content := replace $content `/></td></tr>`  `/></amp-img>` }}
{{ $content := replace $content `border="0"` `layout="responsive"` }}
{{ $content := replace $content `data-original-width="` `id="` }}
{{ $content := replace $content `data-original-height="` `class="` }}

{{ $content := replace $content `imageanchor="1"`  "" }}

{{ $content := replace $content `alt=""` `alt="AMP Img"` }}

{{ $content := replace $content `340px;` `340px` }}

{{ $content := replace $content `<iframe`  `<amp-youtube` }}
{{ $content := replace $content `src="https://www.youtube.com/embed/`  `data-videoid="` }}
{{ $content := replace $content `?feature=player_embedded"`  `"` }}

{{ $content := replace $content `allowfullscreen=""` `` }}

{{ $content := replace $content `frameborder="0"`  `` }}

{{ $content := replace $content `></iframe>`  `></amp-youtube>` }}

{{ $content := replace $content `framelayout="responsive"`  `` }}
<!-- {{ $content := replace $content ""  "" }}-->
{{ $content | safeHTML}}
</article>
    <footer class="post-footer">
      {{ if isset .Params "tags" }}
      <ul class="post-tags">
        {{ range $tag := .Params.tags }}
          <li class="post-tag"><a href="/blog/tags/{{ $tag | urlize }}"><span class="tag">{{ $tag | title }}</span></a></li>
        {{ end }}
      </ul>
      {{ end }}
      <div class="sharing">
        <a class="share share-facebook" target="_blank" href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook">
          <svg class="icon icon-facebook" fill="currentColor"><use xlink:href="#icon-facebook" /></svg>
        </a>
        <a class="share share-twitter" target="_blank" href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ .Permalink }}" title="Share on Twitter">
          <svg class="icon icon-twitter" fill="currentColor"><use xlink:href="#icon-twitter" /></svg>
        </a>
      </div>
    </footer>
  </section>
{{ end }}
